
//colors

$color-primary:#57b8d8;
$color-primary-light:#61d5ec;
$color-primary-dark: #6aa6f5;
$color-super-dark: #0077b6;
// project new color codes: hex code. dark to light 023e8a,0077b6,0096c7,00b4d8,48cae4,90e0ef,ade8f4
// jonas color
//$color-primary:#55c57a;023e8a
$color-card-light:#7ed56f;
$color-card-dark: #28b485;

$color-grey: #777;
$color-grey-light: #f7f7f7;
$color-grey-light-1: #eee;
$color-grey-dark: #999;
$color-grey-dark-2: #333;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-white: #fff;
$color-black: #000;

//font-size

$default-font-size: 1.6rem;


// values

$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
